@media (min-width: 1600px) and (max-width: 1919.99px) {

    .user_info {
        width: 325px;
    }

    .dashboard_single_card {
        width: 31%;
    }

    .dashboard_tab_body {
        width: 1000px;
    }
}

@media (min-width: 1400px) and (max-width: 1599.99px) {

    .dashboard_sidebar {
        width: 17%;
    }

    .dashboard_body {
        max-width: 83%;
    }

    .user_info {
        width: 21%;
        padding: 15px;
    }

    .dashboard_credit_card {
        width: 77%;
    }

    .dashboard_single_card {
        width: 30.7%;
    }

    .dashboard_tab_body {
        width: 1000px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    .dashboard_sidebar {
        width: 22%;
    }

    .dashboard_body {
        max-width: 78%;
        padding: 20px;
    }

    .user_info {
        width: 30%;
        padding: 15px;
    }

    .dashboard_credit_card {
        width: 66.6%;
        padding: 20px;
    }

    .dashboard_single_card:nth-child(2) {
        margin-right: 0;
    }

    .dashboard_single_card {
        padding: 20px;
        width: 47.2%;
        margin-bottom: 25px;
    }

    .dashboard_tab_body {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    .dashboard_sidebar {
        width: 23%;
    }

    .dashboard_body {
        max-width: 77%;
    }

    .user_info {
        width: 100%;
        margin-right: 0;
    }

    .dashboard_credit_card {
        width: 100%;
        margin-top: 25px;
    }

    .dashboard_body_header {
        flex-direction: column;
    }

    .dashboard_single_card:nth-child(2) {
        margin-right: 0 !important;
    }

    .dashboard_single_card {
        width: 47.6%;
        margin-right: 30px !important;
        margin-bottom: 30px;
    }

    .dashboard_credit_card h2 {
        margin-bottom: 13px;
    }

    .dashboard_tab_button {
        justify-content: space-evenly;
    }

    .notification_list p {
        width: 61%;
    }

    .single_input_area {
        padding-left: 0;
        justify-content: start;
    }

    .notification_list_form .single_input {
        width: 46%;
        float: left;
        margin-left: 30px;
        overflow: hidden;
    }

    .dashboard_tab_body {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {

    .dashboard_sidebar {
        width: 250px;
        margin-left: -251px;
    }

    .mobile_menu_btn {
        display: block;
    }

    .dashboard_body {
        max-width: 100%;
    }

    .dashboard_body_header {
        flex-wrap: wrap;
    }

    .user_info {
        width: 100%;
        padding: 40px;
        margin: 0 auto 25px auto;
    }

    .dashboard_credit_card {
        width: 100%;
        padding: 15px;
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: start;
        overflow: hidden;
    }

    .dashboard_single_card {
        padding: 20px;
        width: 30.3%;
        margin-right: 30px;
        margin-bottom: 25px;
    }

    .dashboard_credit_card h3 {
        font-size: 16px;
    }

    .dashboard_single_card input {
        font-size: 16px;
    }

    .dashboard_credit_card_area {
        width: 100%;
    }

    .dashboard_credit_card h2 {
        margin-bottom: 15px;
    }

    .dashboard_tab_button {
        flex-wrap: wrap;
        margin-top: 10px;
        padding-bottom: 7px;
    }

    .dashboard_tab_button button {
        width: 25%;
        font-size: 14px;
    }

    .dashboard_tab_button button::after {
        display: none;
    }

    .dashboard_tab_body {
        width: 100%;
    }

    .notification_list p {
        width: 90%;
    }

    .notification_list {
        flex-wrap: nowrap;
    }

    .single_input_area {
        display: flex;
        padding-left: 0;
        padding-bottom: 5px;
    }

    .notification_list_form .single_input {
        width: 49%;
        float: none;
        margin-left: 0;
    }

    .notification_list_form .single_input input {
        margin-bottom: 25px;
    }

    .notification_list_form .single_input label {
        font-size: 14px;
    }

    .notification_list_form button {
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {

    .dashboard_sidebar {
        width: 250px;
        margin-left: -251px;
    }

    .mobile_menu_btn {
        display: block;
    }

    .dashboard_menu_right ul {
        width: 175px;
        padding: 5px;
    }

    .dashboard_menu_right ul li h3 {
        font-size: 16px;
        margin-left: 13px;
        margin-right: 13px;
    }

    .dashboard_menu_right p span {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: var(--colorPrimary);
        margin: 0px 5px 0px 5px;
    }

    .dashboard_menu_right p {
        font-size: 15px;
    }

    .dashboard_menu_right .droapdown_menu {
        width: 175px;
        padding: 35px 10px 10px 10px;
    }

    .dashboard_body {
        padding: 15px;
        max-width: 100%;
    }

    .dashboard_body_header {
        flex-wrap: wrap;
    }

    .user_info {
        width: 100%;
        padding: 40px;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .dashboard_credit_card {
        width: 100%;
        padding: 15px;
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: start;
        overflow: hidden;
    }

    .dashboard_single_card {
        padding: 20px;
        width: 47%;
        margin-right: 30px !important;
        margin-bottom: 25px;
    }

    .dashboard_single_card:nth-child(2) {
        margin-right: 0 !important;
    }

    .dashboard_credit_card h3 {
        font-size: 16px;
    }

    .dashboard_single_card input {
        font-size: 16px;
    }

    .dashboard_credit_card_area {
        width: 100%;
    }

    .dashboard_credit_card h2 {
        margin-bottom: 15px;
    }

    .dashboard_tab_button {
        flex-wrap: wrap;
        margin-top: 10px;
        padding-bottom: 7px;
    }

    .dashboard_tab_button button {
        width: 100%;
    }

    .dashboard_tab_button button::after {
        display: none;
    }

    .dashboard_tab_body {
        width: 100%;
    }

    .notification_list p {
        width: 91%;
    }

    .dashboard_tab_body .content {
        padding: 0px 10px;
    }

    .dashboard_tab_body .content .switch {
        width: 40px;
        height: 24px;
        margin-right: 10px;
    }

    .dashboard_tab_body .content .slider:before {
        height: 14px;
        width: 14px;
        left: 0px;
        bottom: 4.3px;
    }

    .dashboard_tab_body .content .slider::after {
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4.3px;
    }

    .notification_list {
        flex-wrap: nowrap;
    }

    .single_input_area {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
        padding-bottom: 5px;
    }

    .notification_list_form .single_input {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .notification_list_form .single_input input {
        /*! width: 91%; */
        margin-bottom: 25px;
    }

    .notification_list_form .single_input label {
        font-size: 14px;
    }

    .notification_list_form button {
        margin-bottom: 10px;
    }
}

@media (max-width: 575.99px) {

    .dashboard_sidebar {
        width: 250px;
        margin-left: -251px;
    }

    .mobile_menu_btn {
        display: block;
    }

    .dashboard_menu_right ul {
        width: 175px;
        padding: 5px;
    }

    .dashboard_menu_right ul li h3 {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .dashboard_menu_right {
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .dashboard_menu_right p span {
        font-size: 18px;
        margin: 0px 5px 0px 5px;
    }

    .dashboard_menu_right p {
        font-size: 15px;
        width: 100%;
        justify-content: end;
    }

    .dashboard_menu_right .droapdown_menu {
        width: 175px;
        padding: 35px 10px 10px 10px;
        top: 63%;
    }

    .dashboard_body {
        padding: 15px;
        max-width: 100%;
    }

    .dashboard_body_header {
        flex-wrap: wrap;
    }

    .user_info {
        width: 100%;
        padding: 40px;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .dashboard_credit_card {
        width: 100%;
        padding: 15px;
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: start;
        overflow: hidden;
    }

    .dashboard_single_card {
        padding: 20px;
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 25px;
    }

    .dashboard_credit_card h3 {
        font-size: 16px;
    }

    .dashboard_single_card input {
        font-size: 16px;
    }

    .dashboard_credit_card_area {
        width: 100%;
    }

    .dashboard_credit_card h2 {
        margin-bottom: 15px;
    }

    .dashboard_tab_button {
        flex-wrap: wrap;
        margin-top: 10px;
        padding-bottom: 7px;
    }

    .dashboard_tab_button button {
        width: 100%;
    }

    .dashboard_tab_button button::after {
        display: none;
    }

    .dashboard_tab_body {
        width: 100%;
    }

    .notification_list p {
        font-size: 13px !important;
        width: 81%;
    }

    .dashboard_tab_body .content {
        padding: 0px 10px;
    }

    .dashboard_tab_body .content .switch {
        width: 40px;
        height: 24px;
        margin-right: 10px;
    }

    .dashboard_tab_body .content .slider:before {
        height: 14px;
        width: 14px;
        left: 0px;
        bottom: 4.3px;
    }

    .dashboard_tab_body .content .slider::after {
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4.3px;
    }

    .notification_list {
        flex-wrap: nowrap;
    }

    .single_input_area {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
        padding-bottom: 5px;
    }

    .notification_list_form .single_input {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .notification_list_form .single_input input {
        margin-bottom: 25px;
    }

    .notification_list_form .single_input label {
        font-size: 14px;
    }

    .notification_list_form button {
        margin-bottom: 10px;
    }

    .dashboard_menu .logo {
        margin-left: 15px;
    }
}